.git
.gitignore
.github
.pre-commit-config.yaml

.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*

.dvc/cache

data/raw
data/interim
data/processed

models
metrics

*.pyc
*.pyo
*.pyd

*.log

.vscode
.idea